<IfModule mod_expires.c>
    ExpiresActive On

    # Images
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/jpg "access plus 1 year"

    # CSS
    ExpiresByType text/css "access plus 1 month"

    # JavaScript
    ExpiresByType application/javascript "access plus 1 month"
    ExpiresByType text/javascript "access plus 1 month"
</IfModule>
